@media (max-width: 480px) {
 
 


}
@media (min-width: 481px) and (max-width: 767px) {
 
  
}

@media (min-width: 768px) and (max-width: 979px) {
 
 
}

@media (min-width: 980px) {
 
 
 
}
.Homepic {
  width: 100%;
  background-image: url("image/nomihp1.jpg"); 
  background-size: 100% 100%;
}
  
.Homepic h1{
  font-size: 50px;
  font-weight: bold;
  
  font-family: "Lucida Grande", Tahoma;
}

.Homepic .createform{
  text-align : left;
  margin-top: 50px;
  width: 300px; 
  font-size: 16px; 
  font-family: "Lucida Grande", Tahoma;
}
.Homepic .createform .btn{ 
  width: 300px;   
  margin-top: 10px;
} 

.Homepic .createform span{ 
  color: red;
}
.Homepic .form-control{  
  height: 45px;
  border-radius: 0px;
 border-width: 0.5px;
}
 
.navbar  {  
  background-color: #FFCC00;
  border-width: 0px; 

} 
.navbar  .navbar-left{
  padding-left: 30px;
}
.navbar  .navbar-left a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Grande", Tahoma;
}
.navbar  .navbar-left a:hover {
  text-decoration: none;
}
.navbar  input{
  display: inline;
}
.navbar-right{
  padding-right: 30px;
}  
.navbar-nav .navbar-header img{
  margin-left: 30px;
  padding-left: 30px;
}
.navbar-nav  .dropdown a{ 
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-nav  .dropdown a:hover { background-color: #FFCC00; }
.navbar-nav .dropdown a:visited { background-color: #FFCC00; }
.navbar-nav .dropdown a:link:; { background-color: #FFCC00; }
.navbar-nav .dropdown .dropdown-menu li{ height: 20px; }
.footer{
  width: 100%; 
  font-family: 'Raleway', sans-serif;
  text-align : center;
  background-color: black;
  color: white;
  clear:both;
  text-align:center; 
  font-weight: bold;  

} 



.content{
  padding-top: 10px;
  text-align: center;
}
.postform{
  display: inline-block;
  text-align : center;
  margin-top: 50px;
  width: 600px; 
  font-size: 16px; 
  font-family: "Lucida Grande", Tahoma;
  background-color: #ffe066;
  border-radius: 10px;
}


.postform #title{ 
  margin-left: 50px;
  margin-top: 40px;
  width: 500px;
  border: 0px;
  border-radius: 10px;

}
.postform textarea{ 
  margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  border: 0px;
  border-radius: 10px; 
}
.postform input{ 
  margin-top: 10px;
  margin-left: 50px; 
}
.postform button{ 
  margin-bottom: 40px; 
}

.imgcontainer {
  margin-top: 20px;
  overflow: hidden; 
  width: 500px; 

    border-style: solid;
    border-width: 2px;
    border-color: lightgray; 

  font-family: "Lucida Grande", Tahoma;
}
.imgcontainer p{
   font-size: 20px;
}

.imgcontainer img{
  padding-top: 15px;
  padding-bottom: 15px;
    width: 100%;



  }
  .imgcontainer span img{ 
    width: 40px;
    
  cursor:pointer;

  }

.footer p{  
  margin-top: 5px; 
  vertical-align: middle;   
} 



 

  